# Ignore node_modules directory in frontend
Frontend/node_modules/

# Ignore node_modules directory in backend
backend-product-service/node_modules
backend-cart-service/node_modules
backend-auth-service/node_modules

